<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% spaceless %}{% block pageTitle %}{% endblock %}{% endspaceless %} | AirBlog</title>
        <link rel="icon" type="image/png" href="{{ asset('bundles/Airblog/img/favicon.png') }}">
        <meta name="description" content="{% spaceless %}{% block pageDescription %}{% endblock %}{% endspaceless %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block stylesheet %}
            <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin-ext,latin' rel='stylesheet' type='text/css'>     

            {% stylesheets 'bundles/Airblog/css/normalize.css' 
                           'bundles/Airblog/css/main.css'
                            filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}">
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>        
        <header id="header">
            <div class="top">
                <div class="pos-center">

                    <a class="mobile-menu-trigger" href="#">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </a>

                    <div class="menu">
                        <nav>
                            {{ printMenu() }}
                            {# <ul>
                                <li><a href="#">HOME</a></li>
                                <li><a href="#">O MNIE</a></li>
                                <li><a href="#">KONTAKT</a></li>
                            </ul>#}
                        </nav>
                            {{ categoryList() }}
                        {#  <ul class="categories">
                            <li><a href="#">Samoloty osobowe i pasażerskie</a></li>
                            <li><a class="active" href="#">Samoloty odrzutowe</a></li>
                            <li><a href="#">Samoloty wojskowe</a></li>
                            <li><a href="#">Proy kosmiczne</a></li>
                            <li><a href="#">Tajne rozwiązania</a></li>
                        </ul>#}

                        <!-- 
                        <div class="user-panel">
                            <span class="user-name">Zalogowany jako <a href="#">macq</a></span>
                            <a class="btn-green" href="#">Wyloguj</a>
                        </div>
                        -->

                        <div class="user-panel">
                            <div class="btn-group">
                                <a class="btn-green" href="#">Zaloguj</a>
                                <a class="btn-green" href="#">Zarejestruj</a>
                            </div>
                        </div> 

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            {% block topImage %}
                <div class="top-image"></div>
            {% endblock %}
        </header>

        <div id="main">

            <div class="header">
                <div class="pos-center">
                    <h2 class="left-side">{% spaceless %}{% block contentTitle %}{% endblock %}{% endspaceless %}</h2>
                    

                    {% if hideSearch is not defined %}
                        <form class="right-side" action="{{ path('blog_search') }}">
                            <input type="text" name="search" value="{{ searchParam is defined ? searchParam : '' }}" placeholder="Wyszukaj">
                        </form>
                    {% endif %}
                </div>
            </div>

            <div class="content">
                <div class="pos-center">
                {% block content %}{% endblock %}

                {% if hideSidebar is not defined %}
                    <div class="right-side sidebar">
                        <div class="menu">
                            <h3>Kategorie</h3>
                            {{ categoryList() }}
                            
{#                            <ul>
                                <li><a href="#">Samoloty osobowe i pasażerskie</a></li>
                                <li><a class="active" href="#">Samoloty odrzutowe</a></li>
                                <li><a href="#">Samoloty wojskowe</a></li>
                                <li><a href="#">Promy kosmiczne</a></li>
                                <li><a href="#">Tajne rozwiązania</a></li>
                            </ul>#}
                        </div>

                        <div class="tag-cloud">
                            <h3>Chmura tagów</h3>
                            <div class="tags">
                                <a style="font-size: 1.5rem" href="#">Advanced</a>
                                <a style="font-size: 2.3rem" href="#">Blackbird</a>
                                <a style="font-size: 1.3rem" href="#">Development</a>
                                <a style="font-size: 2.3rem" href="#">Dwa</a>
                                <a style="font-size: 2.3rem" href="#">Froom</a>
                                <a style="font-size: 2rem" href="#">Lockheed</a>
                                <a style="font-size: 1.5rem" href="#">Los</a>
                                <a style="font-size: 1.3rem" href="#">Newadzie</a>
                                <a style="font-size: 1.1rem" href="#">Palmdale</a>
                                <a style="font-size: 1.8rem" href="#">Plant SR</a>
                            </div>
                        </div>

                        <div class="list-widget">
                            <h3>Najczęściej komentowane</h3>
                            <ul>
                                <li><a href="#">Tajne decyzje marki Boeing (13)</a></li>
                                <li><a href="#">Osiągnięto prędkość 6 mach (76)</a></li>
                                <li><a href="#">Nowa linia produkcyjna Airbus (53)</a></li>
                            </ul>
                        </div>

                    </div> <!-- .right-side -->
                {% endif %}
            </div> <!-- .content -->

            <div class="clearfix"></div>
        </div> <!-- .pos-center -->
    </div> <!-- #main -->

    <footer id="footer">
        <div class="top">
            <div class="pos-center">
                {{ printMenu() }}
                {#  <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">O mnie</a></li>
                    <li><a href="#">Kontakt</a></li>
                    <li><a href="#">Admin</a></li>
                </ul>#}
            </div>
        </div>

        <div class="bottom">
            <div class="pos-center">
                <div class="copyrights">
                    <p>&copy; 2014 All rights reserved.</p>
                    <span>Autor kursu Maciej Żukiewicz</span>
                </div>
            </div>
        </div>
    </footer>
    {% block javascripts %}
        
        {% javascripts
            '@AirblogBundle/Resources/public/js/vendor/jquery-1.10.2.min.js'
            '@AirblogBundle/Resources/public/js/vendor/*'
            '@AirblogBundle/Resources/public/js/plugins.js'
            '@AirblogBundle/Resources/public/js/main.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        
    {% endblock %}
</body>
</html>

